[push]
	default = simple
[alias]
	ci = commit
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[user]
	name = Redacted
	email = redacted@redacted.red
[pull]
	rebase = false
[pager]
	branch = false
[core]
	pager = cat
[tig]
	wrap-lines = true
[init]
	defaultBranch = main
